@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&display=swap');


:root{
    --cor-primaria : #39574C;
    --cor-secundaria: #79E3BD;
    --hover: #56BB97;

    /* font */
    --font-logo: 'Philosopher', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #f0f0f0;
    width: 100%;
    height: 100vh;
    display:grid;
    grid-template-columns: 250px 1fr;
    grid-template-areas: 'header header' 'nav main' 'footer footer';
}

.container{
    position: relative;
    width: min(90% , 1200px);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button{
    font-family: var(--font-logo);
    font-size: 17px;
    background:var(--cor-primaria);
    color:var(--cor-secundaria);
    border: 1px solid var(--cor-primaria);
    border-radius:5px;
    padding: 7px 15px;
    cursor: pointer;
    transition: 0.5s;
}
button:hover{
    background:var(--cor-secundaria);
    color:var(--cor-primaria);
    font-weight: 700;
    border: 1px solid var(--cor-primaria);
    transform: scale(1.1);
    transition: 0.5s;
}

header{
    position: relative;
    width: 100%;
    height: 70px;
    grid-area: header;
    background-color: var(--cor-primaria);
    display: flex;
    justify-content: center;
    align-items: center;
}

header .logo a{
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--font-logo);
    font-size: 32px;
}

header .user-menu li{
    list-style: none;
}

header .user-menu li a{
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--font-logo);
    font-weight: 400;
    font-size: 20px;
}

header .user-menu li a i{
    font-size: 16px;
    margin-right: 10px;
    transition: 0.5s ease-in-out;
}

header .user-menu li a:hover i{
    font-size: 18px;
    margin-right: 0px;
    transition: 0.5s ease-in-out;
}

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-primaria);
}

footer p a {
    color: var(--cor-secundaria);
    text-decoration: none;
}

nav.navigation{
    position: fixed;
    top:70px;
    left: 0;
    
    width: 250px;
    height: calc(100% - 110px);
    transition: 0.5s;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    grid-area: nav;
    background-color: var(--cor-secundaria);
    padding: 10px 0;

    overflow: hidden;
    overflow-y: auto;
}

nav.navigation.active{
    width: 60px;
    transition: 0.5s;
}

nav.navigation .home-icon {
    margin-right: 20px;
    color: var(--cor-primaria);
    font-size: 22px;
    cursor: pointer;
}

.navigation ul{
    width: 100%;
}

.navigation ul li{
    position: relative;
    width: 100%;
    list-style: none;
    transition: 0.5s;
    padding: 15px 20px;
    margin: 5px 0;

}

.navigation ul li:hover{
    background-color: var(--cor-primaria);
    color: var(--hover);
    transition: 0.5s;
    padding: 15px 25px;
}

.navigation ul li:nth-child(1){
    background-color: transparent;
    margin-bottom: 20px;
}

.navigation ul li a{
    position: relative;
    width: 100%;
    display:flex;
    align-items: center;
    text-decoration: none;
    color: var(--white);
}

.navigation ul li:nth-child(1) a{
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.navigation ul li .info {
    display: flex;
    align-items: center;
}

.navigation ul li .info i,
.navigation ul li:nth-child(1) a i{
    font-size: 26px;
    margin-right: 20px;
}

.navigation ul li .sidebar-menu{
    display: none;
}
.navigation ul li .sidebar-menu.activeMenu{
    display: block;
}

.navigation ul li .sidebar-menu a{
    padding: 5px 15px ;
    margin: 15px 0;
    border-left: 5px solid var(--cor-primaria);
}
.navigation ul li .sidebar-menu a i{
    font-size: 26px;
    margin-right: 20px;
}
.navigation ul li .sidebar-menu a:hover{
    padding: 5px 15px ;
    margin: 15px 0;
    border-left: 5px solid var(--cor-secundaria);
}

.main{
    position: absolute;
    top: 70px;
    width: calc(100% - 250px);
    left: 250px;
    height: calc(100vh - 110px);
    background-color: var(--white-bg);
    transition: 0.5s;
    overflow-y: auto;
    padding: 20px;
}

.main.active{
    width: calc(100% - 60px);
    left: 60px;
}

/* Cadastro cliente */
#criar-cliente .container h2{
    position: relative;
    font-family: var(--font-logo);
    font-weight: 700;
    font-size: 26px;
    color: var(--cor-primaria);
    margin: 30px 0;
}
#criar-cliente .container h2::after{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 70px;
    height: 3px;
    background-color: var(--cor-secundaria);
}

#criar-cliente .container{
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

#criar-cliente .container form.formBx {
    width: 60%;
    text-align: center;
}


.input {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.input label {
    font-size: 12px;
    color: #333;
    margin-right: 15px;
}

.input input, .input select{
    flex: 1 0 200px;
    height: 38px;
    width: 70%;
    padding-left: 8px;
    border: 2px solid #ccc;
    border-radius: 5px;
    outline: #39574C;
}
.input input:active{
    border: 2px solid var(--cor-primaria);
}
.input input:focus{
    border: 2px solid var(--cor-primaria);
}

/* Listar cliente */
#clientes .container h2{
    position: relative;
    font-family: var(--font-logo);
    font-weight: 700;
    font-size: 26px;
    color: var(--cor-primaria);
    margin: 30px 0;
}
#clientes .container h2::after{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 70px;
    height: 3px;
    background-color: var(--cor-secundaria);
}

#clientes .container{
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
#clientes .container .tabela{
    width: 100%;
}
#clientes .container .tabela table{
    border-collapse: collapse;
    width: 100%;
    min-width: 550px;
    overflow-x: auto;
}

#clientes .container .tabela table th{
    font-family: var(--font-logo);
    font-weight: 700;
    font-size: 20px;
    color: var(--cor-primaria);
    border-bottom: 2px solid var(--cor-secundaria);
    padding: 5px 0;
}

#clientes .container .tabela table td{
    border-bottom: 1px solid var(--cor-secundaria);
    padding: 10px;
}

#clientes .container .tabela table tr:hover{
    background-color: #ebebeb;
}

/* Cadastro produto */
#criar-produto .container h2{
    position: relative;
    font-family: var(--font-logo);
    font-weight: 700;
    font-size: 26px;
    color: var(--cor-primaria);
    margin: 30px 0;
}
#criar-produto .container h2::after{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 70px;
    height: 3px;
    background-color: var(--cor-secundaria);
}

#criar-produto .container{
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

#criar-produto .container form.formBx {
    width: 80%;
    text-align: center;
}

/* Listar produto */
#produtos .container h2{
    position: relative;
    font-family: var(--font-logo);
    font-weight: 700;
    font-size: 26px;
    color: var(--cor-primaria);
    margin: 30px 0;
}
#produtos .container h2::after{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 70px;
    height: 3px;
    background-color: var(--cor-secundaria);
}

#produtos .container{
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
#produtos .container .tabela{
    width: 100%;
}
#produtos .container .tabela table{
    border-collapse: collapse;
    width: 100%;
    min-width: 550px;
    overflow-x: auto;
}

#produtos .container .tabela table th{
    font-family: var(--font-logo);
    font-weight: 700;
    font-size: 20px;
    color: var(--cor-primaria);
    border-bottom: 2px solid var(--cor-secundaria);
    padding: 5px 0;
}

#produtos .container .tabela table td{
    border-bottom: 1px solid var(--cor-secundaria);
    padding: 10px;
}
#produtos .container .tabela table td:nth-child(1){
    max-width: 35px;
}
#produtos .container .tabela table td:nth-child(3),
#produtos .container .tabela table th:nth-child(3){
    max-width: 485px;
    min-width: 250px;
}
#produtos .container .tabela table td:nth-child(6),
#produtos .container .tabela table th:nth-child(6){
    max-width: 140px;
    min-width: 140px;
    padding: 10px 0;
    text-align: center;
}

#produtos .container .tabela table td a{
    padding: 5px 10px;
    border-radius: 7px;
    margin: 0 3px;
    color: white;
}
#produtos .container .tabela table td a:nth-child(1){
    background-color: #0cbd0c;
}
#produtos .container .tabela table td a:nth-child(2){
    background-color: #0c26bd;
}
#produtos .container .tabela table td a:nth-child(3){
    background-color: #bd0c0c;
}

#produtos .container .tabela table tr:hover{
    background-color: #ebebeb;
}


/* Cadastro marcas */
#criar-marca .container h2{
    position: relative;
    font-family: var(--font-logo);
    font-weight: 700;
    font-size: 26px;
    color: var(--cor-primaria);
    margin: 30px 0;
}
#criar-marca .container h2::after{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 70px;
    height: 3px;
    background-color: var(--cor-secundaria);
}

#criar-marca .container{
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

#criar-marca .container form.formBx {
    width: 80%;
    text-align: center;
}

/* Listar marcas */
#marcas .container h2{
    position: relative;
    font-family: var(--font-logo);
    font-weight: 700;
    font-size: 26px;
    color: var(--cor-primaria);
    margin: 30px 0;
}
#marcas .container h2::after{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 70px;
    height: 3px;
    background-color: var(--cor-secundaria);
}

#marcas .container{
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
#marcas .container .tabela{
    width: 100%;
}
#marcas .container .tabela table{
    border-collapse: collapse;
    width: 100%;
    min-width: 550px;
    overflow-x: auto;
}

#marcas .container .tabela table th{
    font-family: var(--font-logo);
    font-weight: 700;
    font-size: 20px;
    color: var(--cor-primaria);
    border-bottom: 2px solid var(--cor-secundaria);
    padding: 5px 0;
}

#marcas .container .tabela table td{
    border-bottom: 1px solid var(--cor-secundaria);
    padding: 10px;
}

#marcas .container .tabela table tr:hover{
    background-color: #ebebeb;
}

/* Dashboard */
.dash-cards-produtos,.dash-cards-clientes{
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
    gap: 15px;
    margin: 20px 0;
}

.dash-cards-produtos .card, .dash-cards-clientes .card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    border: 2px solid #ccc;
    box-shadow: 0 0 9px 0px #33333380;
    border-radius: 20px;
    text-align: center;
}

#dashboard .card h3{
    font-family: var(--font-logo);
    font-weight: 700;
    font-size:20px;
    color: var(--cor-primaria);
    margin-bottom: 20px;
}

#dashboard .card p{
    font-weight: 700;
    font-size:20px;
    color: var(--cor-primaria);
    background-color: var(--cor-secundaria);
    padding: 30px 40px;
    border-radius: 50%;
}

@media screen and (max-width: 768px){
    nav.navigation {
        width: 60px;
    }
    .main {
        width: calc(100% - 60px);
        left: 60px;
    }

    .main.active {
        width: calc(100% - 250px);
        left: 250px;
    }
    nav.navigation.active {
        width: 250px;
    }
}