@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&display=swap');


:root{
    --cor-primaria : #39574C;
    --cor-secundaria: #79E3BD;
    --hover: #56BB97;

    /* font */
    --font-logo: 'Philosopher', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #f0f0f0;
    width: 100%;
    height: 100vh;
    display:grid;
    grid-template-columns: 250px 1fr;
    grid-template-areas: 'header header' 'nav main' 'footer footer';
}

.container{
    position: relative;
    width: min(90% , 1200px);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button{
    font-family: var(--font-logo);
    font-size: 17px;
    background:var(--cor-primaria);
    color:var(--cor-secundaria);
    border: 1px solid var(--cor-primaria);
    border-radius:5px;
    padding: 7px 15px;
    cursor: pointer;
    transition: 0.5s;
}
button:hover{
    background:var(--cor-secundaria);
    color:var(--cor-primaria);
    font-weight: 700;
    border: 1px solid var(--cor-primaria);
    transform: scale(1.1);
    transition: 0.5s;
}

header{
    position: relative;
    width: 100%;
    height: 70px;
    grid-area: header;
    background-color: var(--cor-primaria);
    display: flex;
    justify-content: center;
    align-items: center;
}

header .logo {
    color: var(--cor-secundaria);
    font-family: var(--font-logo);
    font-size: 32px;
}

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-primaria);
}

nav.navigation{
    position: fixed;
    top:70px;
    left: 0;
    
    width: 250px;
    height: calc(100% - 110px);
    transition: 0.5s;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    grid-area: nav;
    background-color: var(--cor-secundaria);
    padding: 10px 0;

    overflow: hidden;
}

.navigation.active{
    width: 60px;
    transition: 0.5s;
}

nav.navigation .home-icon {
    margin-right: 20px;
    color: var(--cor-primaria);
    font-size: 22px;
}

.navigation ul{
    width: 100%;
}

.navigation ul li{
    position: relative;
    width: 100%;
    list-style: none;
    transition: 0.5s;
    padding: 5px 20px;
}

.navigation ul li:hover{
    background-color: var(--cor-primaria);
    color: var(--hover);
    transition: 0.5s;
    padding: 5px 25px;
}

.navigation ul li:nth-child(1){
    background-color: transparent;
    margin-bottom: 20px;
}

.navigation ul li a{
    position: relative;
    width: 100%;
    display:flex;
    align-items: center;
    text-decoration: none;
    color: var(--white);
}

.navigation ul li a .icon{
    position: relative;
    display: block;
    min-width: 60px;
    text-align: center;
}

.navigation ul li a .icon i{
    font-size: 24px;
}

.navigation ul li a .title{
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    white-space: nowrap;
}

.navigation ul li:nth-child(1) a{
    margin-top: 10px;
}

.navigation ul li:nth-child(1) a .title{
    margin-top: 10px;
    height: 60px;
}

.main{
    position: absolute;
    top: 70px;
    width: calc(100% - 250px);
    left: 250px;
    height: calc(100vh - 110px);
    background-color: var(--white-bg);
    transition: 0.5s;
    overflow-y: auto;
    padding: 20px;
}

.main.active{
    width: calc(100% - 60px);
    left: 60px;
}

/* Cadastro cliente */
#criar-cliente .container h2{
    position: relative;
    font-family: var(--font-logo);
    font-weight: 700;
    font-size: 26px;
    color: var(--cor-primaria);
    margin: 30px 0;
}
#criar-cliente .container h2::after{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 70px;
    height: 3px;
    background-color: var(--cor-secundaria);
}

#criar-cliente .container{
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

#criar-cliente .container form.formBx {
    width: 60%;
    text-align: center;
}


.input {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.input label {
    font-size: 12px;
    color: #333;
    margin-right: 15px;
}

.input input{
    flex: 1 0;
    height: 38px;
    width: 70%;
    padding-left: 8px;
    border: 2px solid #ccc;
    border-radius: 5px;
    outline: #39574C;
}
.input input:active{
    border: 2px solid var(--cor-primaria);
}
.input input:focus{
    border: 2px solid var(--cor-primaria);
}

/* Listar cliente */
#clientes .container h2{
    position: relative;
    font-family: var(--font-logo);
    font-weight: 700;
    font-size: 26px;
    color: var(--cor-primaria);
    margin: 30px 0;
}
#clientes .container h2::after{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 70px;
    height: 3px;
    background-color: var(--cor-secundaria);
}

#clientes .container{
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
#clientes .container .tabela{
    width: 100%;
}
#clientes .container .tabela table{
    border-collapse: collapse;
    width: 100%;
    min-width: 550px;
    overflow-x: auto;
}

#clientes .container .tabela table th{
    font-family: var(--font-logo);
    font-weight: 700;
    font-size: 20px;
    color: var(--cor-primaria);
    border-bottom: 2px solid var(--cor-secundaria);
    padding: 5px 0;
}

#clientes .container .tabela table td{
    border-bottom: 1px solid var(--cor-secundaria);
    padding: 10px;
}